In [1]:
from os import (
    getcwd,
)
from os.path import (
    join,
)
from json import (
    loads,
)
from pandas import (
    DataFrame,
)

from flatten import Flattener

In [2]:
pwd = getcwd()
datadir = join(pwd, 'data/')
path = join(datadir, 'data.json')
f = open(path)
data = loads(f.read())

In [3]:
data

{'no': '',
 'year': 1990,
 'movies': [{'name': 'A', 'director': 'AB'},
  {'name': 'B', 'actor': 'C'},
  {'name': 'D', 'director': 'Director'}],
 'extras': [{'A': {'u': 'U'}},
  {'B': {'v': 'V'}},
  {'A': {'u': 'W'}, 'B': {'v': 'X'}}],
 'others': {'c': 'C', 'd': {'e': 'E'}},
 'nothing': ''}

### Data has to be either a dictionary or list of dictionary (dataframe).

In [4]:
flattener = Flattener()

In [5]:
result = flattener.flatten(
    data,
    depth=0,
)

In [6]:
result

,no,year,movies,extras,nothing,others.c,others.d.e
0,,1990,"[{'name': 'A', 'director': 'AB'}, {'name': 'B'...","[{'A': {'u': 'U'}}, {'B': {'v': 'V'}}, {'A': {...",,C,E

In [7]:
result = flattener.flatten(
    data,
    depth=1,
)

In [8]:
result

,no,year,nothing,others.c,others.d.e,movies.name,movies.director,movies.actor,extras.A.u,extras.B.v
0,,1990,,C,E,A,AB,NaN,U,NaN
1,,1990,,C,E,A,AB,NaN,NaN,V
2,,1990,,C,E,A,AB,NaN,W,X
3,,1990,,C,E,A,AB,NaN,U,NaN
4,,1990,,C,E,A,AB,NaN,NaN,V
5,,1990,,C,E,A,AB,NaN,W,X
6,,1990,,C,E,A,AB,NaN,U,NaN
7,,1990,,C,E,A,AB,NaN,NaN,V
8,,1990,,C,E,A,AB,NaN,W,X
9,,1990,,C,E,B,NaN,C,U,NaN
10,,1990,,C,E,B,NaN,C,NaN,V
11,,1990,,C,E,B,NaN,C,W,X
12,,1990,,C,E,B,NaN,C,U,NaN
13,,1990,,C,E,B,NaN,C,NaN,V
14,,1990,,C,E,B,NaN,C,W,X
15,,1990,,C,E,B,NaN,C,U,NaN
16,,1990,,C,E,B,NaN,C,NaN,V
17,,1990,,C,E,B,NaN,C,W,X
18,,1990,,C,E,D,Director,NaN,U,NaN
19,,1990,,C,E,D,Director,NaN,NaN,V
20,,1990,,C,E,D,Director,NaN,W,X
21,,1990,,C,E,D,Director,NaN,U,NaN
22,,1990,,C,E,D,Director,NaN,NaN,V
23,,1990,,C,E,D,Director,NaN,W,X
24,,1990,,C,E,D,Director,NaN,U,NaN
25,,1990,,C,E,D,Director,NaN,NaN,V
26,,1990,,C,E,D,Director,NaN,W,X

In [9]:
result = flattener.flatten(
    data,
    depth=2,
)

In [10]:
result

,no,year,nothing,others.c,others.d.e,movies.name,movies.director,movies.actor,extras.A.u,extras.B.v
0,,1990,,C,E,A,AB,NaN,U,NaN
1,,1990,,C,E,A,AB,NaN,NaN,V
2,,1990,,C,E,A,AB,NaN,W,X
3,,1990,,C,E,A,AB,NaN,U,NaN
4,,1990,,C,E,A,AB,NaN,NaN,V
5,,1990,,C,E,A,AB,NaN,W,X
6,,1990,,C,E,A,AB,NaN,U,NaN
7,,1990,,C,E,A,AB,NaN,NaN,V
8,,1990,,C,E,A,AB,NaN,W,X
9,,1990,,C,E,B,NaN,C,U,NaN
10,,1990,,C,E,B,NaN,C,NaN,V
11,,1990,,C,E,B,NaN,C,W,X
12,,1990,,C,E,B,NaN,C,U,NaN
13,,1990,,C,E,B,NaN,C,NaN,V
14,,1990,,C,E,B,NaN,C,W,X
15,,1990,,C,E,B,NaN,C,U,NaN
16,,1990,,C,E,B,NaN,C,NaN,V
17,,1990,,C,E,B,NaN,C,W,X
18,,1990,,C,E,D,Director,NaN,U,NaN
19,,1990,,C,E,D,Director,NaN,NaN,V
20,,1990,,C,E,D,Director,NaN,W,X
21,,1990,,C,E,D,Director,NaN,U,NaN
22,,1990,,C,E,D,Director,NaN,NaN,V
23,,1990,,C,E,D,Director,NaN,W,X
24,,1990,,C,E,D,Director,NaN,U,NaN
25,,1990,,C,E,D,Director,NaN,NaN,V
26,,1990,,C,E,D,Director,NaN,W,X